.page-content{
	font-family: Arial, Helvetica, sans-serif;color: #000000;
}
.page-content h1{
	font-size: 24px; color: #55337e; font-weight: normal;
}
.page-content h3{
	font-size: 18px; font-weight: bold;
	margin-bottom: 0px;
}
.page-content h2{
	font-size: 20x; color: #55337e;
}
.page-content p{
	font-size: 14px; font-weight: normal; line-height: 28px;
	margin: 0px;
}
.terms-conditions {
	font-size: 9px; color: #999;
}
.page-content input, .page-content textarea{
	display: block;
	border: 1px solid #999;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;color: #666;
	padding: 10px;
}
.page-content input{
	width: 420px;
	height: 22px ;
}
.page-content textarea{
	width: 432px;
	height: 82px;
}
.page-content table{
	margin-left: 20px;
}
#placeHolder{
	margin:10px 0px 10px 15px;
	color:red; 
	font-size:14px;
}
#placeHolderSuccess{
    margin:10px 0px 10px 15px;
	margin-left:15px; 
	color:green; 
	font-size:14px;
}
.error {
    border: 1px solid rgba(196, 101, 101, 0.79) !important;
    background: rgba(255, 200, 200, 0.5);
}