.flexModule{
    margin:0px;
    padding:0px;
}
#norail h1 {

    float:none;
}
h1{
    font-weight: 600 !important;
}
h2{
    font-weight: 600 !important;
}
.placeHolder{
    width:960px;
    text-align:center;
    margin-left:19px;
    margin-top:132px;
}
.headerImg{
    padding:-16px;
}
/*.pageTabs{
    margin-top: 24px;
    margin-bottom:16px;
    border-bottom:1px solid #b1bbb9;
}*/
.pageTabs{
    margin-top: 24px;
    margin-bottom:24px;
    border-bottom:1px solid #b1bbb9;
}
.pageTabsClub{
    margin-left: 24px !important;
}
.pageTabsUI{
    list-style:none;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-style:normal;
}
.benefitPageTabsUI{
    list-style:none;
    margin:0;
    padding:2px 0 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-style:normal;
}
.pageTabsUIFirst{	
    padding-right:84px !Important;
}

.pageTabsLI{
    float:left;
    display:block;
    padding-left:44px;
    padding-right:44px;
    padding-bottom:18px;
    text-decoration:none;
}
/*.pageTabsLI.active{
    border-bottom:6px solid #55337e;
    margin-left:-40px !important;
    padding-bottom:18px;
}*/
.pageTabsLI.active{
    border-bottom:6px solid #55337e;
    padding-bottom:18px;
}
.pageTabsLI.active2{
    border-bottom:6px solid #55337e;
    margin-left:-38px !important;
    padding-bottom:18px;
}
.pageTabsLI.active a{
    font-weight:bold;
    color:#55337e;
}
.pageTabsLI a{
    text-decoration:none;
    color:#000;
}
.pageTabsMenu{
    text-decoration:none;
    color:#000000;
}
.introductText{
    margin-top: 19px;
    margin-bottom:42px;
}
.introductTextTd{
    line-height:24px;
}
.introductTextTd2{
    line-height:27px;
}
.introductTextTd3{
    line-height:27px;
}
/*.introductTextH1{
    font-family:Arial, Helvetica, sans-serif !important;
    font-size:24px !important;
    font-style:bold !important;
    padding-bottom:7px;
}*/
.introductTextH1{
    font-family:Arial, Helvetica, sans-serif !important;
    font-size:24px !important;
    font-style:bold !important;
}
.introductTextH2{
    font-family:Arial, Helvetica, sans-serif !important;
    font-size:30px  !important;
    font-style:bold  !important;
    padding: 0 0 10px;
}

.introductTab3P {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    padding: 28px 0 5px 0;
    display:block;
}
.introductTab2P2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
}
.introductTab2TextP {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    padding-bottom: 18px;
    display:block;
}
.introductTextP {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
}
.introductDiv{
    padding:20px 0px 30px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-style:normal;
}
.introductTextTab{
    border: 1px solid #c6c8c7;
    margin-top:20px;
}
.introductTextSpan{
    font-size:16px !important;
    font-weight:bold !important;
}
.introductTab2{
    background-color:#fbf1e8;
    background-image:url(//www.tnetnoc.com/public/ANS/HCL/assets/2015/bcm/value_prop/White-Arrow.png);
    background-repeat:no-repeat;
    background-position: 66px 0px
}

.introductTab2Td{
    margin-top: 22px;
    margin-bottom:42px;
}
.introductTab2P{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-style:normal;
    font-weight:bold;
    padding-top:12px;
}
.introductTextTd p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-style:normal;
    font-weight:bold;
    padding:28px 0 5px 0;
}
.introductTextTd p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-style:normal;
}
.introductTextTd span{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-style:normal;
}
.introductTab2Img{
    padding-top:24px;
}
.introductTab3Img{
    padding:29px 0 7px 0;
}


/*.carousel{
 width: 960px;
 }
 .carousel-caption{
 left: 87px !important;
 right: 85px  !important;
 width: 800px !important;
 top: 88px !important;
 }
 .carousel-heading-text{
 font-family: "Arial", Helvetica, sans-serif;
 font-size: 24px !important;
 opacity: 0.95;

 }
 .carousel-heading-content{
 font-family: "Arial", Helvetica, sans-serif !important;
 font-size: 24px !important;
 float:inherit;
 font-weight:300;
 margin:5px 10px 0 0 !important;
 line-height: 36px !important;
 text-shadow: none;
 }
 .carousel-normal-text{
 padding:26px 9px 0 0;
 font-weight:bolder;
 font-size:16px;
 }
 .left_arrow_image {
 margin:137px 0 0 -75px !important;
 }
 .right_arrow_image {
 margin:137px 0 0 80px !important;
 }
 .open_quote{
 font-size:59px !important;
 opacity:0.6;
 float:left;
 margin: -21px -8px 0 -18px !important;
 padding:5px;
 }
 .close_quote{
 font-size:59px !important;
 opacity:0.6;
 float:right;
 margin: -49px -4px 0 -18px !important;
 }
 .carousel-control.right{
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
 }
 .carousel-control.left{
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
 }
 .carousel-indicators{
 margin-bottom:0px !important;
 left: 52% !important;
 }
 .carousel-indicators li{
 background-color: #FFF !important;
 width: 7px !important;
 height: 7px !important;
 margin-right: 10px;
 }
 .carousel-indicators .active{
 background-color: #624391 !important;
 border: 1px solid #624391 !important;
 width: 7px !important;
 height: 7px !important;
 margin-right: 10px;
 }
 */
.whiteBackground{
    background-color:#ffffff;
}
.workPointsTab{
    margin-top: 24px;
    margin-bottom:12px;
}
.appTab{
    background-image:url(//www.tnetnoc.com/public/ANS/HCL/assets/2015/bcm/value_prop/App-BG.gif);
    background-position:top left;
    background-repeat:repeat-x;
}
.appTab2{
    margin-top:80px;
}
.appTab2Text{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-style:normal;
    padding-bottom:12px;
}
/*-----Benefits.html css------*/
.benefitPageTabsP{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:16px; 
	font-style:normal;
}
.benefitPageTab2{
	margin-top: 24px; 
	margin-bottom:36px;
}
.benefitPageTabText{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:30px; 
	font-style:bold; 
	padding-bottom:24px;
}
.benefitPageTabDiv{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:16px; 
	font-style:normal; 
	font-weight:bold; 
	padding:30px 0 15px; 
	line-height:20px;
}
.benefitPageTabDiv2{
	font-family:Arial, Helvetica, 
	sans-serif; 
	font-size:14px; 
	font-style:normal; 
	line-height:18px;
	padding-bottom:10px;
}
.benefitBackgroundTemp{
	background-color:#ffffff; 
	background-image:url(../images/Sand-Arrow.png); 
	background-repeat:no-repeat; 
	background-position: 66px 0px
}
.benefitPageTabDiv3{
	margin-top: 24px; 
	margin-bottom:42px;
}
.benefitPageTabPad1{
	padding-top:6px
}
.benefitPageTabPad2{
	padding-top:24px
}
/*-----club-hotels.html css------*/
.clubPageTabText{
	font-family:Arial, Helvetica, sans-serif !important; 
	font-size:16px !important; 
	font-style:normal !important;
}
.clubPagePad1{
	padding-top:30px;
	padding-bottom:30px;
}
.clubPagePad2{
	padding-top:10px; 
	padding-bottom:10px;
}
.clubPageimg{
	padding-right:10px;
}
.clubTabBox{
	border: 1px solid #c6c8c7; 
	margin-top:16px;
}
.clubTabLabel{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:12px !important;
	font-weight:bold !important;
}
.clubTabInput{
	width:333px;
	height:24px;
	border:1px solid #c6c8c7;
	padding-left:5px;
}
.clubTabLabel2{
	font-size:12px !important;
	line-height:16px !important;
}
.clubTabLabelSign{
	color:#55337e !important; 
}


