#norail h1 {float:none;}
.appTab2Text{font-family:Arial, Helvetica, sans-serif;font-size:15px;font-style:normal;padding-bottom:12px;}
.appTab2{margin-top:80px;}
.appTab{background-image:url(//www.tnetnoc.com/public/ANS/HCL/assets/2015/bcm/value_prop/App-BG.gif);background-position:top left;background-repeat:repeat-x;}
.benefitBackgroundTemp{background-color:#ffffff;background-image:url(../images/Sand-Arrow.png);background-position: 66px 0px;background-repeat:no-repeat}
.benefitPageTab2{margin-bottom:36px;margin-top: 24px;}
.benefitPageTabDiv2{font-family:Arial, Helvetica,sans-serif;font-size:14px;font-style:normal;line-height:18px;padding-bottom:10px;}
.benefitPageTabDiv3{margin-bottom:42px;margin-top: 24px;}
.benefitPageTabDiv{font-family:Arial, Helvetica, sans-serif;font-size:16px;font-style:normal;font-weight:bold;line-height:20px;padding:30px 0 15px;}
.benefitPageTabPad1{padding-top:6px}
.benefitPageTabPad2{padding-top:24px}
.benefitPageTabText{font-family:Arial, Helvetica, sans-serif;font-size:30px;font-style:bold;padding-bottom:24px;}
.benefitPageTabsP{font-family:Arial, Helvetica, sans-serif;font-size:16px;font-style:normal;}
.benefitPageTabsUI{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-style:normal;list-style:none;margin:0;padding:2px 0 0;}
.clubPagePad1{padding-bottom:30px;padding-top:30px;}
.clubPagePad2{padding-bottom:10px;padding-top:10px;}
.clubPageTabText{font-family:Arial, Helvetica, sans-serif !important;font-size:16px !important;font-style:normal !important;}
.clubPageimg{padding-right:10px;}
.clubTabBox{border: 1px solid #c6c8c7;margin-top:16px;}
.clubTabInput{border:1px solid #c6c8c7;height:24px;padding-left:5px;width:333px;}
.clubTabLabel2{font-size:12px !important;line-height:16px !important;}
.clubTabLabelSign{color:#55337e !important;}
.clubTabLabel{font-family:Arial, Helvetica, sans-serif !important;font-size:12px !important;font-weight:bold !important;}
.flexModule{margin:0px;padding:0px;}
.headerImg{padding:-16px;}
.introductDiv{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-style:normal;padding:20px 5px 30px 5px;   line-height: 24px;}
.introductDiv img{margin-top: 20px;}
.introductTab2Img{padding-top:24px;}
.introductTab2P2 {font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-style: normal;}
.introductTab2P{font-family:Arial, Helvetica, sans-serif;font-size:16px;font-style:normal;font-weight:bold;padding-top:12px;}
.introductTab2Td{margin-bottom:42px;margin-top: 22px;}
.introductTab2TextP {display:block;font-family: Arial, Helvetica, sans-serif;font-size: 16px;font-style: normal;padding-bottom: 18px;}
.introductTab2{background-color:#fbf1e8;background-image:url(//www.tnetnoc.com/public/ANS/HCL/assets/2015/bcm/value_prop/White-Arrow.png);background-position: 66px 0px;background-repeat:no-repeat}
.introductTab3Img{padding:29px 0 7px 0;}
.introductTab3P {display:block;font-family: Arial, Helvetica, sans-serif;font-size: 16px;font-style: normal;font-weight: bold;padding: 28px 0 5px 0;}
/*.introductTextH1{font-family:Arial, Helvetica, sans-serif !important;font-size:24px !important;font-style:bold !important;}*/
.introductTextH2{font-family:Arial, Helvetica, sans-serif !important;font-size:30px  !important;font-style:bold  !important;padding: 0 0 10px;}
/*.introductTextP {font-family: Arial, Helvetica, sans-serif;font-size: 16px;font-style: normal;}*/
.introductTextSpan{font-size:16px;font-weight:bold; line-height: 30px}
.introductTextTab{border: 1px solid #c6c8c7;margin-top:20px;}
.introductTextTab span {line-height: 24px;}
.introductTextTd p{font-family:Arial, Helvetica, sans-serif;font-size:16px;font-style:normal;font-weight:bold;padding:28px 0 5px 0;}
.introductTextTd span{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-style:normal; line-height:24px;}
.introductTextTd2{line-height:27px;}
.introductTextTd3{line-height:27px;}
.introductTextTd{line-height:24px;}
.introductText{margin-bottom:42px;margin-top: 19px;}
.pageTabsClub{margin-left: 24px !important;}
.pageTabsLI a{color:#000;text-decoration:none;}
.pageTabsLI.active a{color:#55337e;font-weight:bold;}
.pageTabsLI.active2{border-bottom:6px solid #55337e;margin-left:-38px !important;padding-bottom:16px;}
.pageTabsLI.active2 a{color:#55337e;font-weight:bold;}
.pageTabsLI.active{border-bottom:6px solid #55337e;margin-left:2px !important;padding-bottom:16px;}
.pageTabsLI{display:block;float:left;padding-bottom:18px;padding-left:44px;padding-right:44px;text-decoration:none;}
.pageTabsMenu{color:#000000;text-decoration:none;}
.pageTabsUIFirst{padding-right:84px !Important;}
.pageTabsUI{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-style:normal;list-style:none;margin:0;padding:0;}
/*.pageTabs{border-bottom:1px solid #b1bbb9;margin-bottom:24px;margin-top: 24px;}*/
.placeHolder{margin-left:19px;margin-top:132px;text-align:center;width:960px;}
.whiteBackground{background-color:#ffffff;}
.workPointsTab{margin-bottom:12px;margin-top: 24px;}
h1{font-weight: 600 !important;}
h2{font-weight: 600 !important;}
.introductTextTdTemp{line-height:24px; margin-top: -8px;float: left; margin-left: 30px; width: 400px;}
.pageTabsLI2{ margin-left: 2px; margin-right: 39px; }
.flexModule{margin:0px;padding:0px;}

/*css included benefits pages*/
.pageTabs{margin-top: 23px;margin-bottom:16px;border-bottom:1px solid #b1bbb9;}
.pageTabsLI.active{border-bottom:6px solid #55337e;margin-left:-40px !important;padding-bottom:16px;}
.introductTextH1{font-family:Arial, Helvetica, sans-serif !important;font-size:24px !important;font-style:bold !important;padding-bottom:7px;}
.introductTextP {font-family: Arial, Helvetica, sans-serif;font-size: 16px;font-style: normal;line-height: 22px;margin-bottom: 20px;display:block;}
.introductTextTab{border: 1px solid #c6c8c7;margin-top:20px;}
.valueNav li {text-align: center;float: left;display: block;}
.valueNav a {text-decoration: none;text-align: center;padding: 15px;border-bottom: 6px solid white;display: inline-block;margin: 0 auto;color: black;text-transform: uppercase;}
.valueNav li.current a{border-bottom:6px solid #55337e; color:#55337e; font-weight:bold;}

/*css included in hotels page*/
.flexRegistrationMod { width: 340px; float:right;margin-bottom: 30px; }
.flexRegistration { -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-margin-end: auto; -webkit-margin-start: auto; background-color: rgb(251, 241, 232);border-bottom-width: 0px;border-left-width: 0px;border-radius: 0px;border-right-width: 0px;border-spacing: 0px;border-top-width: 0px;border: 1px solid #c6c8c7;box-shadow: none;margin-top: 1em;overflow: hidden;padding: 30px 30px 30px 35px;text-align: -webkit-left;vertical-align: middle; }
.introductTextTd{ float: left;width: 400px;margin-left: 30px; }
.flexRegistration.register .textInput input { border: 1px solid #c6c8c7;height: 24px;padding-left: 5px;width: 333px;border-radius:0px;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none; }

/* reset */
/*css for tiers page*/
.preformatted h1, .preformatted h2, .preformatted h3, .preformatted h4, .preformatted h5, .preformatted h6 { margin: 0; }
* { font-family: Arial, Helvetica, sans-serif; }
 /* page tabs */
h1 { font-size: 24px; font-style: bold; margin-bottom: 15px !important; }
h2 {  font-size: 20px; font-style: bold; color: black; }
.p {    margin: 0; padding: 0; margin-bottom: 30px; display: block; line-height: 24px; }
.relative { position: relative; }
table.benefitsTop { font-size: 11px; margin-bottom: 17px; }
table.benefitsTop td strong { font-size: 16px; display: block; }
table.benefitsTop h2 { padding-left: 6px; }
.topTd { border-left: 1px #cccccc solid; border-top: 1px #cccccc solid; width: 162px; text-align: center; padding: 10px 0; }
.lastTopTd { border-right: 1px #cccccc solid; }
h2.hasIcon { margin-bottom: 15px; font-size: 18px; }
h2.hasIcon img { margin-right: 20px;vertical-align: middle; }
table.tiers { font-size: 13px; margin-bottom: 50px; }
table.tiers td { border-bottom: 1px #e5e5e5 solid; vertical-align: baseline; }
table.tiers td:first-child { font-size: 18px; font-weight: bold; padding: 15px 3px 15px 6px; }
table.benefitsTop { color: #333333; }
table.benefits { border-top: 1px #cccccc solid; width: 850px; float: right; margin-bottom: 20px; }
table.benefits > tr:first-child > td { border-top: 1px #cccccc solid; }
table.benefits > tbody > tr > td { border: 1px #cccccc solid; border-top: none; border-left: none; }
table.benefits > tbody > tr > td { width: 162px; text-align: center; }
table.benefits > tbody > tr > td:first-child { border-left: 1px white solid; font-size: 13px; padding: 0 20px; width: 162px;height: 60px;text-align: left; }
table.benefits > tbody > tr > td:last-child { border-right: 1px white solid; }